services:

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  django:
    build: .

    ports:
      - "8000:8000"
    env_file:
      - .env

    volumes:
      - .:/app

    depends_on:
      - redis
